:root {
  --themeColor: #ddd5f3;
  --chat-screen-color: #ddd5f3;
  --themeColorMore:#c3b6e7;
  --themeColorLess: #eae8f0; 
  --grey-text: rgba(0, 0, 0, .5);
  --horizontal-space: 25px;
  --main-border: 1px solid #d7d3e3;
}
