.alt-screen-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px var(--horizontal-space) 10px var(--horizontal-space);
  }
  
.alt-screen_header__title {
    font-size: 28px;
    font-weight: 600;
  }

.alt-screen-header__column {
  width: 33.3%;
  }

.alt-screen-header__column:first-child {
      margin-right: auto;
  }

.alt-screen-header__column:last-child {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.alt-screen-header__column:nth-child(2) {
  text-align: center;
}

.alt-screen-header__column span {
  margin-left: 10px;
}

.alt-screen-header__column span:last-child {
  margin-left: 25px;
}