.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px var(--horizontal-space);
}

.screen-header__title {
  font-size: 33px;
  font-weight: 600;
}

.screen-header__icon span {
  margin-left: 24px;
  position: relative;
}

@keyframes rotateGear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icon .fa-gear:hover {
  animation: rotateGear 2s linear infinite;
}

.screen-header__gear-alarm {
  display: block;
  position: absolute;
  left: 20px;
  top: -2px;
}